.toolbar {
  background: #1565c0;
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

.user {
  font-size: 14px;
}

.logout-button {
  color: white;
}
